---
layout: home
---

  <br/>

  <p>
    <a class="button is-dark
    blue-grey darken-2 hoverable m-b-5"
       href="{{ site.baseurl }}/pages/by-month.html"
      >Articles Sorted by Month</a>
    <a class="button is-dark
    blue-grey darken-1 hoverable m-b-5"
       href="{{ site.baseurl }}/pages/tag.html"
      >Articles Sorted by Tag</a>
  </p>

  <p>I'm an open source enthusiast. This site discusses matters relating to foss, hacking and coding </p>

  <div class="justify-content-center">
    <img src="{{ site.baseurl }}/assets/images/cards/fahri.png" 
         alt="business card">
  </div>
  <p>I'm not a hacker. Although it discuss about hacking,you won't find any illegal activities in this site.</p>
  <p>Every content in this site, the result of my limited knowledge</p>
  <p>I'm apologizing for my limitations and for my bad english.</p>
  <p class="lead text-muted">
    <span class="fas fa-home"></span>&nbsp;
      Jakarta, Indonesia.
  </p>
