  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header red lighten-4">

      <strong>Social Accounts</strong>
      <span class="fa fa-user is-pulled-right"></span>

    </div>
    <div class="widget-body red lighten-5">

      <ul class="widget-list">
      <li><span class="fab fa-telegram"></span>
        <a href="https://t.me/gh0zialfat1h">@gh0zialfat1h</a>
      </li>
      <li><span class="fa fa-envelope"></span>
        <a href="mailto:muhamadfahri3rd@gmail.com">muhamadfahri3rd@gmail.com</a>
      </li>
      <li><span class="fab fa-facebook"></span>
        <a href="https://facebook.com/muhammdfahrim">Muhammad Fahri</a>
      </li>
      <li><span class="fab fa-github"></span>
        <a href="https://github.com/gh0zialfat1h">gh0zialfat1h</a>
      </li>
      <li><span class="fab fa-gitlab"></span>
        <a href="https://gitlab.com/epsi-rns">gh0zialfat1h</a>
      </li>
      </ul>

    </div>
  </div>
