---
layout: page

customjs:
  - "/assets/vendors/js/jquery.min.js"
  - "/assets/vendors/js/lunr-0.7.1.min.js"
  - "/assets/js/search.js"
---

  <div class="p-2">
    <form action="get" id="site_search">
      <label for="search_box">Search</label>
      <input type="text" id="search_box">
      <input type="submit" value="search">
    </form>

    <ul id="search_results" class="list-unstyled"></ul>
  </div>


